spring:
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always
  web:
    resources:
      add-mappings: true
      static-locations:
        - file:///C:/image-uploads/
        - classpath:/static/
  application:
    name: aivle_4th_MiniProject_team19

  # 공통 datasource 설정 (모든 프로파일에 적용)
  datasource:
    url: jdbc:mysql://a086184-db-mysql.ctvyzknz7zxl.ap-southeast-1.rds.amazonaws.com:3306/bookstore?useSSL=false&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: admin
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true # (2.5~) Hibernate 초기화 이후 data.sql 실행

  h2:
    console:
      enabled: false

  sql:
    init:
      mode: always

# 로깅
logging:
  level:
    root: INFO
    org.hibernate.SQL: debug
    org.springframework: DEBUG
    org.springframework.web: DEBUG

image:
  upload-dir: /home/ubuntu/image-uploads